In [8]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School","Wright High School"]
print (high_schools)

for school in high_schools:
    print(school)

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']
Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

#SIterate through the list of dictionaries and print out each high school and their types,

In [2]:
# Add the Pandas dependency.
import pandas as pd

## 4.3.5

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
#Iterate through the school_series and print out each high school

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
# A dictionary/dataframe of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School",     "type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School",  "type": "District"},
                     {"School ID": 2, "school_name": "Shelton High School",   "type": "Charter"},
                     {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                     {"School ID": 4, "school_name": "Griffin High School",   "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

# Convert a List or Series to a DataFrame

In [12]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [5]:
# initialize a new DataFrame
schools_df = pd.DataFrame()

In [6]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["school_name"] = school_name
schools_df ["type"] = type_of_school

# Print the DataFrame.
schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Above cell can also be done by creating a Python dictionary from the three lists, like this:

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

#then convertin it into a dataframe
schools_df = pd.DataFrame.from_dict(high_schools_dict)

schools_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

## Acessing Attributes of a dataframe

In [22]:
# Columns
schools_df.columns

#Index
schools_df.index

#Values
schools_df.values

RangeIndex(start=0, stop=5, step=1)

In [ ]:
## Skipped skills drill for 4.3.5